%div.footer-induction
  %div.footerInduction.inductionB
    %section
      %h2 アプリなら、RETRIPがもっと便利に快適に！
      %p 話題のカフェから絶景まで、最新の旅行・おでかけ情報をどこよりも早く毎日配信！<br>最新のおでかけ情報が分かるイベントカレンダーや便利なお気に入り機能で、RETRIPがもっと快適に。
      %ul
        %li
          = link_to root_path do
            = image_tag("btn_appstore.png", { alt: "App Storeでダウンロード", width: "170", height: "52" })
        %li
          = link_to root_path do
            = image_tag("btn_googleplay.png", { alt: "Google Playでダウンロード", width: "170", height: "52" })
