%div#indexMain
  %div.content
    - @sliders.each do |slider|
      = link_to article_path(slider.id), { class: "contentSlider", title: slider.title } do
        = image_tag("article2.jpg", { class: "contentSliderImg", width: "auto", height: "300" })
        %div.contentSliderTitle
          %h1
            = slider.title
        %div.contentSliderInfo
          %div.countView
            %i.fa.fa-eye.icon-view
            %span 12345
          %span.name
            ここに名前
            / # = slider.user.nickname
